{% extends "base-control-panel.html" %}

{% block body2 %}
    <form class="create-curse" method="post">
        <label for="user-name">Введите имя пользователя</label>
        <input id="user-name" type="text" name="user-name" placeholder="Имя">
        <label for="user-surname">Выберите фамилию пользователя</label>
        <input id="user-surname" name="user-surname" placeholder="Фамилия">
        <label for="user-age">Выберите возраст пользователя</label>
        <input id="user-age" name="user-age" placeholder="Фамилия">
        <label for="creation-type">Выберите тип пользователя</label>
        <select id="creation-type" name="creation-type">
            {% for item in secret['site'].user_types.keys() %}
            <option>{{item}}</option>
            {% endfor %}
        </select>
        <button type="submit">Создать</button>
    </form>
{% endblock %}