{% extends "base.html" %}

{% block title %}
Меню управления
{% endblock %}

{% block body %}
        {% for item in secret["site"].courses %}
            <div class="curse">
                <table>
                   <tr>
                       <td>
                           <h1>{{item.name}}<br>Тип: {{item.category.name}}<br>
                               Дети: {% for child_id in item.sub_courses.children_id %}{{secret["site"].take_course(child_id).name}} {% endfor %}<br>
                               Родители: {% for parent_id in item.sub_courses.parents_id %}{{secret["site"].take_course(parent_id).name}} {% endfor %}<br>
                               Учителя: {% for teacher in item.teachers %} {{teacher.name}} {{teacher.surname}}
                               {% endfor %}<br>
                               Ученики: {% for student in item.students %} {{student.name}} {{student.surname}}
                               {% endfor %}
                           </h1>
                           <a href="http://127.0.0.1:8000/change-course/?name={{item.name}}">изменить курс</a>
                       </td>
                   </tr>
                </table>
            </div>
        {% endfor %}

{% endblock %}