body {
    margin: 0;
    background-color:#ecf8f8;
}
.main-menu {
    text-align: center;
    background-color:#c8fcfc;
}
.main-menu a {
    display: inline-block;
    width: 30%;
    text-decoration: none;
    color: black;
    padding: 5px 0;
}
.main-menu a:hover {
    background-color: #a9f0f0;
}