body {
    margin: 0;
    background-color:#ecf8f8;
}
.main-menu {
    text-align: center;
    background-color:#c8fcfc;
}
.main-menu a {
    display: inline-block;
    width: 18%;
    text-decoration: none;
    color: black;
    padding: 10px 0;
}
.main-menu a:hover {
    background-color: #a9f0f0;
}
.creation-menu {
    text-align: center;
    background-color:#c8fcfc;
    margin: 10px 0;
}
.creation-menu a {
    display: inline-block;
    width: 45%;
    text-decoration: none;
    color: black;
    padding: 10px 0;
}
.creation-menu a:hover {
    background-color: #a9f0f0;
}
.active-link {
    background-color: #a9f0f0;
}